body{
  font-family: 'Raleway', sans-serif;
}
header{
  display: flex;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-size: cover;
 
  background-image: url("https://images.unsplash.com/photo-1646282014691-620f9af448a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") 
   ;
  background-position: center;
  background-attachment: fixed;
}
.search-bar{
  background: #7c7c7c2b;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 1em;
}
button{
  background: #ffffff2b;
  border-radius: 10%;
  border: none;
  outline: none;
}
.card{
  background: #000000d0;
  padding: 2em;
  width: 100%;
  max-width: 420px;
  border-radius: 30px;
  opacity: 98%;
  margin: 1em;
}
.bg-purple {
    color: white!important;
    background: linear-gradient( #548687, rgb(84, 134, 135))!important;
  }
 
  .bg-pink {
    border-color: #9dbebb!important;
    background: linear-gradient(#9dbebb,  rgba(157, 190, 187) 100%)!important;
    color: white!important;
  }
  .bg-brown{
    border-color: #CAD2C5!important;
    background: linear-gradient(#CAD2C5,  rgba(202, 210, 197) 100%)!important;
    color: white!important;
  }
 
  .bg-gray {
      color: rgb(56, 55, 55);
  }
  .mt-3 {
    margin-top: 3!important;
  }
  .px-2 {
    padding-left: ( 5) !important;
    padding-right: (5) !important;
  }
  .mx-3{
    margin-left: 5!important;
    margin-right: 5!important;

  }
  .my-3{
    margin-bottom: 3!important;
   
  }
  